<section class="home">
    <div class="container">
        <div class="row">
            <div class="home-info">
                <h3 class="hello">Hola, soy <span class="name">Julio Matadamas</span></h3>
                <h3 class="my-profession">Y soy un <span class="typing">Ingeniero de Software</span></h3>
                <p>Cuento con experiencia de al menos 4 años en el análisis de datos, administración de bases de datos, el desarrollo de aplicaciones web, móviles y de escritorio</p>
                <a routerLink="contact" class="btn hire-me">Más info.</a>
            </div>

            <div class="home-img">
                <img src="assets/images/profile.svg" alt="Ingeniero en Desarrollo de Software">
            </div>
        </div>
    </div>
</section>
