<h4>V-Notes</h4>

<div class="portfolio-container-item">
    <div class="portfolio-container-video">
        <video controls>
            <source src="/assets/videos/vnotes.mp4" type="video/mp4">
            Tu navegador no soporta el tag de vídeo.
        </video>
    </div>

    <br/>

    <div class="portfolio-container-description">
        <p>Aplicación web para el registro de notas</p>
        <a href="https://v-notes-ce070.firebaseapp.com/#/">Ver en la web <span><fa-icon [icon]="faGlobe"></fa-icon></span></a>
        <ul>
            <li>Registro y autenticación por correo electrónico</li>
            <li>Manejo de sessiones en Localstorage</li>
            <li>Registro de notas</li>
            <li>Edición de notas</li>
            <li>Eliminación de notas</li>
            <li>Uso de Sweet-Alert para mensajes de la aplicación</li>
            <li>Uso de Firebase para registro de la información</li>
        </ul>
    </div>

    <h5>Aplicación desarrollada con:</h5>

    <div class="portfolio-container-tools">
        <fa-icon [icon]="faHtml5" class="tool-item"></fa-icon>
        <fa-icon [icon]="faCss3Alt" class="tool-item"></fa-icon>
        <fa-icon [icon]="faBootstrap" class="tool-item"></fa-icon>
        <fa-icon [icon]="faVuejs" class="tool-item"></fa-icon>
    </div>
</div>
