<section class="services">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Servicios</h2>
            </div>
        </div>

        <div class="services-items row">
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <fa-icon [icon]="faDesktop"></fa-icon>
                    </div>
                    <h4>Desarrollo desktop</h4>
                    <p>Diseño, programación y mantenimiento de software destinado a ejecutarse en computadoras personales. Realizando el análisis de requisitos del cliente, la planificación y diseño de la interfaz de usuario, la codificación de funcionalidades utilizando lenguajes como Java o C#, y la integración con bases de datos. Garantizando la eficiencia y la seguridad del software, realizando pruebas exhaustivas para detectar y corregir errores, y proporcionar soporte técnico.</p>
                </div>
            </div>

            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <fa-icon [icon]="faLaptop"></fa-icon>
                    </div>
                    <h4>Desarrollo Front-end</h4>
                    <p>Diseño y desarrollo de la experiencia e interfaz del usuario en las aplicaciones web. Incluída la implementación de diseños visuales utilizando HTML, CSS y JavaScript (usando framework como ReactJS o Angular), asegurando la accesibilidad y la responsividad. Integrando la lógica de la aplicación, optimizando el rendimiento y la interactividad del lado del cliente. Además, me mantengo al tanto de las tendencias tecnológicas para mejorar la usabilidad y la eficiencia en la interacción entre el usuario y la aplicación.</p>
                </div>
            </div>

            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <fa-icon [icon]="faServer"></fa-icon>
                    </div>
                    <h4>Desarrollo Back-end</h4>
                    <p>Creación y gestión de la lógica y la funcionalidad que respalda las aplicaciones web. Incluyendo el diseño de bases de datos, la implementación de algoritmos, la manipulación de datos, la seguridad del servidor, la gestión de la escalabilidad, la integración de APIs y la optimización del rendimiento. Utilizando lenguajes como C#, Java o PHP, trabajar con servidores y bases de datos, asegurando una comunicación eficiente entre el servidor y el front-end para ofrecer experiencias de usuario sólidas y seguras.</p>
                </div>
            </div>

            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <fa-icon [icon]="faMobile"></fa-icon>
                    </div>
                    <h4>Desarrollo Móvil</h4>
                    <p>Desarrollo de aplicaciones móviles híbridas utilizando frameworks como React Native o Flutter. Creando interfaces de usuario, integración de funcionalidades nativas, y asegurar la compatibilidad multiplataforma. Optimizando el rendimiento y la experiencia del usuario, gestionando la interacción con APIs y resolviendo problemas de compatibilidad para ofrecer aplicaciones eficientes y consistentes en sistemas operativos como iOS y Android.</p>
                </div>
            </div>

            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <fa-icon [icon]="faDatabase"></fa-icon>
                    </div>
                    <h4>Administración de bases de datos</h4>
                    <p>Gestión, optimización y aseguramiento del rendimiento de las bases de datos. Incluyendo el diseño de esquemas, la configuración y mantenimiento de servidores, la implementación de políticas de seguridad, la realización de copias de seguridad y la recuperación de datos. Superviso la integridad de los datos, ajusto el rendimiento mediante índices y optimización de consultas para mejorar la eficiencia del sistema, garantizando así la disponibilidad y confiabilidad de la información almacenada en la base de datos.</p>
                </div>
            </div>

            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <fa-icon [icon]="faChartBar"></fa-icon>
                    </div>
                    <h4>Análisis de datos</h4>
                    <p>Realizo la recopilación, limpieza, preparación, procesamiento y analisis conjunto de datos para extraer información significativa. Identificar tendencias, patrones y proporcionar insights para respaldar la toma de decisiones. Utilizando herramientas estadísticas y de visualización de datos (como Excel, Power Query, Power BI, Tableau, R y Python), interpreto resultados y comunico hallazgos de manera efectiva. Colaboro con equipos para optimizar estrategias y mejora continua.</p>
                </div>
            </div>
        </div>
    </div>
</section>
