<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Portafolio</h2>
            </div>
        </div>

        <div class="row">
            <div class="portfolio-heading padd-15">
                <h2>Mis últimos proyectos personales</h2>
                <p>Estos son algunos de mis proyectos hechos por mi cuenta o para clientes particulares y en las empresas en las que he trabajado que me han autorizado compartir mi trabajo realizado con ellos.</p>
            </div>
        </div>

        <div class="portfolio-items row">
            <app-portfolio-item class="portfolio-item padd-15"></app-portfolio-item>
            <app-portfolio-item class="portfolio-item padd-15"></app-portfolio-item>
            <app-portfolio-item class="portfolio-item padd-15"></app-portfolio-item>
            <app-portfolio-item class="portfolio-item padd-15"></app-portfolio-item>
            <app-portfolio-item class="portfolio-item padd-15"></app-portfolio-item>
            <app-portfolio-item class="portfolio-item padd-15"></app-portfolio-item>
        </div>
    </div>
</section>
