<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Portafolio</h2>
            </div>
        </div>

        <div class="row">
            <div class="portfolio-heading padd-15">
                <h2>Mis últimos proyectos personales</h2>
                <p>Estos son algunos de mis proyectos hechos por mi cuenta o para clientes particulares y en las empresas en las que he trabajado que me han autorizado compartir mi trabajo realizado con ellos.</p>
            </div>
        </div>

        <div class="portfolio-items row">
            <a routerLink="sicoi" class="portfolio-item shadow-dark" (click)="toggleModal()">
                <figure class="portfolio-item-img">
                    <img [src]="imgSicoi" alt="" />
                    <figcaption>
                        <h4>SICOI</h4>
                        <p>Aplicación web para gestión de inventario.</p>
                        <fa-icon [icon]="faHandPointer" class="portfolio-item-icon"></fa-icon>
                    </figcaption>
                </figure>
            </a>

            <a routerLink="vnotes" class="portfolio-item shadow-dark" (click)="toggleModal()">
                <figure class="portfolio-item-img">
                    <img [src]="imgVNotes" alt="" />
                    <figcaption>
                        <h4>V-Notes</h4>
                        <p>Aplicación web para registro de notas</p>
                        <fa-icon [icon]="faHandPointer" class="portfolio-item-icon"></fa-icon>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>

    <div class="modal modal-display" [ngClass]="{'show':showModal}" (click)="handleModalClick()">
        <div class="modal-container" (click)="handleModalContainerClick($event)">
            <div class="modal-button" (click)="toggleModal()">
                <fa-icon [icon]="faCircleXmark"></fa-icon>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
