<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Portafolio</h2>
            </div>
        </div>

        <div class="row">
            <div class="portfolio-heading padd-15">
                <h2>Mis últimos proyectos personales</h2>
                <p>Estos son algunos de mis proyectos hechos por mi cuenta o para clientes particulares y en las empresas en las que he trabajado que me han autorizado compartir mi trabajo realizado con ellos.</p>
            </div>
        </div>

        <div class="portfolio-items row">
            <div class="portfolio-item shadow-dark">
                <figure class="portfolio-item-img">
                    <img [src]="imgSicoi" alt="" />
                    <figcaption>
                        <h4>SICOI</h4>
                        <p>Aplicación web para gestión de inventario.</p>
                        <fa-icon [icon]="faHandPointer" class="portfolio-item-icon"></fa-icon>
                    </figcaption>
                </figure>
            </div>

            <div class="portfolio-item shadow-dark">
                <figure class="portfolio-item-img">
                    <img [src]="imgVNotes" alt="" />
                    <figcaption>
                        <h4>V-Notes</h4>
                        <p>Aplicación web para registro de notas</p>
                        <fa-icon [icon]="faHandPointer" class="portfolio-item-icon"></fa-icon>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
