.modal {
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    justify-content: center;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease;
    z-index: 1000;
}
.modal-display {
    display: none;
}
.modal-display.show {
    display: flex;
}

.modal-container {
    background: var(--color-light-0);
    border-radius: 10px;
    height: 80%;
    position: relative;
    width: 80%;
}

.modal-button {
    align-items: center;
    background: var(--color-light-0);
    border-radius: 30px;
    display: flex;
    font-size: 2rem;
    height: 60px;
    justify-content: center;
    position: absolute;
    right: -30px;
    top: -30px;
    width: 60px;
}
.modal-button:hover {
    cursor: pointer;
}

.portfolio-items {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.portfolio-item {
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 420px;
}

.portfolio-item-img img {
    display: block;
    height: auto;
    width: 100%;
}

.portfolio-item-img figcaption {
    padding: 15px;
    text-align: center;
}

.portfolio-item-img figcaption h4 {
    color: var(--color-purple-1);
    font-size: 1rem;
}

.portfolio-item-img figcaption p {
    color: var(--color-dark-2);
    font-size: .875rem;
}

.portfolio-item-icon {
    color: var(--color-purple-1);
    display: block;
    padding: 5px 0;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .portfolio-item {
        width: 320px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio-item {
        width: 220px;
    }
    .portfolio-item-img figcaption p {
        font-size: .75rem;
    }
}
@media screen and (max-width: 767px) {
    .portfolio-item {
        margin: auto;
        max-width: 420px;
        width: 90%;
    }
}
