<ul>
    <li>
        <a routerLink="home" routerLinkActive="active-link">
            <fa-icon [icon]="faHouse"></fa-icon>
            Inicio
        </a>
    </li>

    <li>
        <a routerLink="about" routerLinkActive="active-link">
            <fa-icon [icon]="faUserTie"></fa-icon>
            Acerca
        </a>
    </li>

    <li>
        <a routerLink="services" routerLinkActive="active-link">
            <fa-icon [icon]="faPenRuler"></fa-icon>
            Servicios
        </a>
    </li>

    <li>
        <a routerLink="portfolio" routerLinkActive="active-link">
            <fa-icon [icon]="faBriefcase"></fa-icon>
            Portafolio
        </a>
    </li>

    <li>
        <a routerLink="contact" routerLinkActive="active-link">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            Contacto
        </a>
    </li>
</ul>
