<ul>
    <li>
        <a routerLink="home">
            <fa-icon [icon]="faHouse"></fa-icon>
            Inicio
        </a>
    </li>

    <li>
        <a routerLink="about">
            <fa-icon [icon]="faUserTie"></fa-icon>
            Acerca
        </a>
    </li>

    <li>
        <a routerLink="services">
            <fa-icon [icon]="faPenRuler"></fa-icon>
            Servicios
        </a>
    </li>

    <li>
        <a routerLink="portfolio">
            <fa-icon [icon]="faBriefcase"></fa-icon>
            Portafolio
        </a>
    </li>

    <li>
        <a routerLink="contact">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            Contacto
        </a>
    </li>
</ul>
