<section class="about">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>Acerca de mí</h2>
            </div>
        </div>

        <div class="row">
            <div class="about-content padd-15">
                <div class="row">
                    <div class="about-text padd-15">
                        <h3>Hola, soy Julio Matadamas y soy un <span>Desarrollador Frontend</span></h3>
                        <p>Tengo más de tres años de experiencia en desarrollo de aplicaciones y sitios web, con un amplio conocimiento y experiencia en lenguajes de programación web, frameworks y tecnologías asociadas. También tengo experiencia en el ciclo completo de desarrollo de aplicaciones web, desde el análisis de requisitos y diseño de la arquitectura hasta la implementación, pruebas y despliegue. Utilizando metodologías ágiles de desarrollo para garantizar una entrega eficiente de software.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="personal-info padd-15">
                        <div class="info-items row">
                            <div class="info-item padd-15">
                                <p>Edad: <span id="age">46 años</span></p>
                            </div>

                            <div class="info-item padd-15">
                                <p>Teléfono: <span>+52 86831 19901</span></p>
                            </div>

                            <div class="info-item padd-15">
                                <p>Email: <span>contacto@juliomatadamas.com</span></p>
                            </div>

                            <div class="info-item padd-15">
                                <p>Ciudad: <span>H. Matamoros. Tamaulipas (México)</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="buttons padd-15">
                                <a href="#" class="btn">Descargar CV</a>
                                <a routerLink="/contact" class="btn hire-me">Contáctame</a>
                            </div>
                        </div>
                    </div>

                    <div class="skills padd-15">
                        <h3>Mis conocimientos</h3>
                        <div class="row">
                            <div class="skill-item padd-15">
                                <h5>HTML</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 75%;"></div>
                                    <div class="skill-percent">Avanzado</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>CSS</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 75%;"></div>
                                    <div class="skill-percent">Avanzado</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Bootstrap</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 75%;"></div>
                                    <div class="skill-percent">Avanzado</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Tailwind</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Javascript</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 75%;"></div>
                                    <div class="skill-percent">Avanzado</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Typescript</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 50%;"></div>
                                    <div class="skill-percent">Intermedio</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>JQuery</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 50%;"></div>
                                    <div class="skill-percent">Intermedio</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>ReactJS</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 50%;"></div>
                                    <div class="skill-percent">Intermedio</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Angular</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>VueJS</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 50%;"></div>
                                    <div class="skill-percent">Intermedio</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>PHP</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 75%;"></div>
                                    <div class="skill-percent">Avanzado</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Laravel</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 50%;"></div>
                                    <div class="skill-percent">Intermedio</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>C#</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 50%;"></div>
                                    <div class="skill-percent">Intermedio</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>.Net</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Java</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 50%;"></div>
                                    <div class="skill-percent">Intermedio</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Spring Boot</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>MySQL</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 75%;"></div>
                                    <div class="skill-percent">Avanzado</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>SQL Server</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 50%;"></div>
                                    <div class="skill-percent">Intermedio</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>PL/SQL</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 50%;"></div>
                                    <div class="skill-percent">Intermedio</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>MongoDB</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Firebase</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>R</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Python</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Tableau</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Power BI</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Power Query</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Excel</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 75%;"></div>
                                    <div class="skill-percent">Avanzado</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Docker</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>AWS</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Azure</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>Jira</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>

                            <div class="skill-item padd-15">
                                <h5>SCRUM</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">Básico</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ee">
                        <div class="row">
                            <div class="education padd-15">
                                <h3 class="title">Educación</h3>
                                <div class="row">
                                    <div class="timeline-box">
                                        <div class="timeline shadow-dark">
                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <fa-icon [icon]="faCalendar" class="i-fa"></fa-icon> Agosto 2023 - Diciembre 2023
                                                </h3>
                                                <h4 class="timeline-title">Analisis de datos de Google</h4>
                                                <p class="timeline-text">Coursera</p>
                                                <small>&nbsp;</small>
                                            </div>

                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <fa-icon [icon]="faCalendar" class="i-fa"></fa-icon> Agosto 2018 - Junio 2023
                                                </h3>
                                                <h4 class="timeline-title">Ingeniería en Desarrollo de Software</h4>
                                                <p class="timeline-text">Universidad Abierta y a Distancia de México.</p>
                                                <small>En proceso de titulación</small>
                                            </div>

                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <fa-icon [icon]="faCalendar" class="i-fa"></fa-icon> Agosto 2019 - Enero 2020
                                                </h3>
                                                <h4 class="timeline-title">Desarrollador Back-end</h4>
                                                <p class="timeline-text">Fundación Carlos Slim.</p>
                                                <small>Certificado obtenido</small>
                                            </div>

                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <fa-icon [icon]="faCalendar" class="i-fa"></fa-icon> Agosto 2020 - Enero 2020
                                                </h3>
                                                <h4 class="timeline-title">Desarrollador Front-end</h4>
                                                <p class="timeline-text">Fundación Carlos Slim.</p>
                                                <small>Certificado obtenido</small>
                                            </div>

                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <fa-icon [icon]="faCalendar" class="i-fa"></fa-icon> Agosto 2019 - Enero 2020
                                                </h3>
                                                <h4 class="timeline-title">Programador (Orientado a Objetos)</h4>
                                                <p class="timeline-text">Fundación Carlos Slim.</p>
                                                <small>Certificado obtenido</small>
                                            </div>

                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <fa-icon [icon]="faCalendar" class="i-fa"></fa-icon> Abril 2019 - Noviembre 2019
                                                </h3>
                                                <h4 class="timeline-title">Administrador de Servidores</h4>
                                                <p class="timeline-text">Fundación Carlos Slim.</p>
                                                <small>Certificado obtenido</small>
                                            </div>

                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <fa-icon [icon]="faCalendar" class="i-fa"></fa-icon> Mayo 2019 - Octubre 2019
                                                </h3>
                                                <h4 class="timeline-title">Administrador de Bases de Datos</h4>
                                                <p class="timeline-text">Fundación Carlos Slim.</p>
                                                <small>Certificado obtenido</small>
                                            </div>

                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <fa-icon [icon]="faCalendar" class="i-fa"></fa-icon> Mayo 2019 - Octubre 2019
                                                </h3>
                                                <h4 class="timeline-title">Curador de Datos</h4>
                                                <p class="timeline-text">Fundación Carlos Slim.</p>
                                                <small>Certificado obtenido</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="experience padd-15">
                                <h3 class="title">Experiencia</h3>
                                <div class="row">
                                    <div class="timeline-box">
                                        <div class="timeline shadow-dark">
                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <fa-icon [icon]="faCalendar" class="i-fa"></fa-icon> Febrero 2023 - Agosto 2023
                                                </h3>
                                                <h4 class="timeline-title">Programador</h4>
                                                <p class="timeline-text">Dish de Matamoros</p>
                                                <small>(Alicia Manzano Quezada)</small>
                                            </div>

                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <fa-icon [icon]="faCalendar" class="i-fa"></fa-icon> Agosto 2018 - Enero 2023
                                                </h3>
                                                <h4 class="timeline-title">Capurista</h4>
                                                <p class="timeline-text">Dish de México</p>
                                                <small>(DM Servicio Inmediato, S. de R.L. de C.V.)</small>
                                            </div>

                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <fa-icon [icon]="faCalendar" class="i-fa"></fa-icon> Noviembre 2013 - Abril 2018
                                                </h3>
                                                <h4 class="timeline-title">Programador - Analista</h4>
                                                <p class="timeline-text">Promociones y Mercadeo</p>
                                                <small>(Grupo Promociones S.A.)</small>
                                            </div>

                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <fa-icon [icon]="faCalendar" class="i-fa"></fa-icon> Agosto 2012 - Noviembre 2013
                                                </h3>
                                                <h4 class="timeline-title">Analista</h4>
                                                <p class="timeline-text">Sturmax S.A.</p>
                                                <small>(Scotiabank-Inverlat)</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
