.contact-title {
    color: var(--color-purple-1);
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-subtitle {
    color: var(--color-purple-2);
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.contact-items {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 0 60px;
}

.contact-info-item {
    margin: 5px;
    max-width: 240px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.contact-info-item h4 {
    color: var(--color-purple-2);
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0 5px;
}

.contact-info-item p {
    display: block;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

.icon {
    display: inline-block;
}

.icon:first-child {
    color: var(--color-purple-1);
    font-size: 20px;
}

.contact-form-container {
    align-items: flex-start;
    display: flex;
    justify-content: center;
}
.contact-form-left {
    max-width: 440px;
    padding: 10px;
    position: relative;
    width: 90%;
}
.contact-form-right {
    max-width: 440px;
    padding: 10px;
    position: relative;
    width: 90%;
}

.feedback {
    font-size: .6rem;
    height: 33px;
    overflow-y: auto;
    padding: 2px 5px 0 5px;
    word-wrap: break-word;
}

.input__wrapper {
    padding: 10px 0 0;
    position: relative;
}

.input__field {
    background: transparent;
    border: 1px solid var(--color-dark-2);
    border-radius: 5px;
    color: var(--color-dark-1);
    font-size: 1rem;
    padding: 10px 32px;
    transition: border-color 0.2s;
    width: 100%;
}
.input__field.invalid {
    border: 1px solid #b73f3f;
}

.input__field::placeholder {
    color: transparent;
}

.input__field:placeholder-shown ~ .input__label {
    color: var(--color-dark-2);
    cursor: text;
    font-size: 1rem;
    top: 20px;
}

label, .input__field:focus ~ .input__label {
    background-color: var(--color-light-3);
    color: var(--color-dark-2);
    font-size: 12px;
    display: block;
    left: 8px;
    padding: 0 4px;
    position: absolute;
    top: 2px;
    transition: 0.3s;
}

.input__field:focus ~ .input__label {
    color: var(--color-dark-1);
}

.input__field:focus {
    border: 1px solid var(--color-dark-1);
    outline: 1px solid var(--color-dark-2);
}
.input__field.invalid:focus {
    border: 1px solid #b73f3f;
    outline: 1px solid #b73f3f;
}



.input__wrapper button {
    margin-left: 50%;
    width: 50%;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .contact-form-left {
        max-width: 330px;
        width: 90%;
    }
    .contact-form-right {
        max-width: 330px;
        width: 90%;
    }
}

@media screen and (max-width: 991px) {
    .contact-form-right {
        padding: 0 10px;
    }
}
