<section class="contact">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Contacto</h2>
            </div>
        </div>

        <h3 class="contact-title">Requieres de mayor información?</h3>
        <h4 class="contact-subtitle">Puedes contactarme por alguno de los siguientes medios.</h4>

        <div class="contact-items row">
            <div class="contact-info-item">
                <div class="icon">
                    <fa-icon [icon]="faPhone"></fa-icon>
                </div>
                <h4>Teléfono:</h4>
                <p>+52 86831 19901</p>
            </div>

            <div class="contact-info-item">
                <div class="icon">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </div>
                <h4>Email:</h4>
                <p>contacto@juliomatadamas.com</p>
            </div>

            <div class="contact-info-item">
                <div class="icon">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </div>
                <h4>Linkedin:</h4>
                <p>linkedin/JulioMatadamas</p>
            </div>

            <div class="contact-info-item">
                <div class="icon">
                    <fa-icon [icon]="faGithub"></fa-icon>
                </div>
                <h4>Github:</h4>
                <p>github/JulioMatadamas</p>
            </div>
        </div>

        <h4 class="contact-subtitle">Si lo prefieres, envíame un mensaje directo mediante el siguiente formulario, te responderé lo antes posible.</h4>

        <form [formGroup]="contactForm" class="contact-form-container row" (ngSubmit)="submitForm()">
            <div class="contact-form-left">
                <div class="input__wrapper">
                    <input
                        class="input__field"
                        formControlName="name"
                        id="name"
                        placeholder="Tu nombre"
                        type="text"
                        (keyup)="onNameChange()"
                    >
                    <label for="name" class="input__label">Nombre</label>
                    <div id="name-feedback" class="feedback">&nbsp;</div>
                </div>

                <div class="input__wrapper">
                    <input
                        class="input__field"
                        formControlName="email"
                        id="email"
                        placeholder="Tu email"
                        type="email"
                        (keyup)="onEmailChange()"
                    >
                    <label for="email" class="input__label">Email</label>
                    <div id="email-feedback" class="feedback">&nbsp;</div>
                </div>

                <div class="input__wrapper">
                    <input
                        class="input__field"
                        formControlName="phone"
                        id="phone"
                        maxlength="10"
                        placeholder="Tu teléfono"
                        type="tel"
                        (keyup)="onPhoneChange()"
                    >
                    <label for="phone" class="input__label">Teléfono</label>
                    <div id="phone-feedback" class="feedback">&nbsp;</div>
                </div>

                <div class="input__wrapper">
                    <input
                        class="input__field"
                        formControlName="subject"
                        id="subject"
                        placeholder="Tu asunto"
                        type="text"
                        (keyup)="onSubjectChange()"
                    >
                    <label for="subject" class="input__label">Asunto</label>
                    <div id="subject-feedback" class="feedback">&nbsp;</div>
                </div>
            </div>
            <div class="contact-form-right">
                <div class="input__wrapper">
                    <textarea
                        class="input__field"
                        cols="30"
                        formControlName="message"
                        id="message"
                        placeholder="Tu mensaje"
                        rows="6"
                        (keyup)="onMessageChange()"
                    ></textarea>
                    <label for="message" class="input__label">Mensaje</label>
                    <div id="message-feedback" class="feedback">&nbsp;</div>
                </div>

                <div class="input__wrapper">
                    <button class="btn" type="submit" [disabled]="!contactForm.valid">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</section>
