@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-Thin.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-ExtraLight.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-Light.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-Regular.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-SemiBold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-Bold.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-ExtraBold.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

:root {
    --color-light-1: #f5f5f5;
    --color-light-2: #fdf9ff;
    --color-light-3: #f2f2fc;
    --color-dark-1: #1b2e34;
    --color-dark-2: #2b454e;
    --color-dark-3: #385a64;
    --color-purple-1: #693264;
    --color-purple-2: #a951a3;
    --color-purple-3: #d268cb;
}

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}

aside {
    background: var(--color-light-2);
    left: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 270px;
    z-index: 10;
}

body {
    line-height: 1.5;
    font-family: "JetBrainsMono", Courier, sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: 900;
}

h2 {
    font-size: 1.4rem;
    font-weight: 900;
}

h3 {
    font-size: 1.3rem;
    font-weight: 900;
}

h4 {
    font-size: 1.2rem;
    font-weight: 900;
}

h5 {
    font-size: 1.1rem;
    font-weight: 900;
}

h6 {
    font-size: 1rem;
    font-weight: 900;
}

main {
    background: var(--color-light-3);
    display: block;
    left: 270px;
    min-height: 100vh;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
}
