@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-Thin.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-ExtraLight.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-Light.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-Regular.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-SemiBold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-Bold.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("assets/fonts/JetBrains_Mono/JetBrainsMono-ExtraBold.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

:root {
    --color-light-0: #ffffff;
    --color-light-1: #f5f5f5;
    --color-light-2: #fdf9ff;
    --color-light-3: #f2f2fc;
    --color-dark-1: #1b2e34;
    --color-dark-2: #2b454e;
    --color-dark-3: #385a64;
    --color-purple-1: #693264;
    --color-purple-2: #a951a3;
    --color-purple-3: #d268cb;
}

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}

aside {
    align-items: center;
    background: var(--color-light-2);
    display: flex;
    flex-direction: column;
    left: 0;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: all 0.3s ease;
    width: 270px;
    z-index: 10;
}

body {
    line-height: 1.5;
    font-family: "JetBrainsMono", Courier, sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: 900;
}

h2 {
    font-size: 1.4rem;
    font-weight: 900;
}

h3 {
    font-size: 1.3rem;
    font-weight: 900;
}

h4 {
    font-size: 1.2rem;
    font-weight: 900;
}

h5 {
    font-size: 1.1rem;
    font-weight: 900;
}

h6 {
    font-size: 1rem;
    font-weight: 900;
}

main {
    padding-left: 270px;
    transition: all 0.3s ease;
}

section {
    background: var(--color-light-3);
    display: block;
    min-height: 100vh;
    opacity: 1;
    padding: 0 30px;
}

.btn {
    background: var(--color-purple-2);
    border: none;
    border-radius: 5px;
    color: var(--color-light-1);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;
    text-align: center;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.btn:hover {
    background: var(--color-purple-1);
    transform: scale(1.05);
}

.container {
    margin: auto;
    max-width: 1100px;
    padding-bottom: 60px;
    padding-top: 70px;
    width: 100%;
}

.padd-15 {
    padding: 15px 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
}

.section-title h2 {
    color: var(--color-dark-2);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    position: relative;
}

.section-title h2::before {
    background-color: var(--color-purple-2);
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 50px;
}

.section-title h2::after {
    background-color: var(--color-purple-2);
    content: '';
    height: 4px;
    left: 0;
    margin-top: 8px;
    position: absolute;
    top: 100%;
    width: 25px;
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/*@media screen and (min-width: 768px) and (max-width: 991px) {
    aside {
        left: -270px;
    }
    main {
        padding-left: 0;
    }
}*/

@media screen and (min-width: 576px) and (max-width: 767px) {
    aside {
        left: -270px;
    }
    main {
        padding-left: 0;
    }
}

@media screen and (max-width: 575px) {
    aside {
        left: -270px;
    }
    main {
        padding-left: 0;
    }
}
