<h4>SICOI</h4>

<div class="portfolio-container-item">
    <div class="portfolio-container-video">
        <video controls>
            <source src="/assets/videos/sicoi.mp4" type="video/mp4">
            Tu navegador no soporta el tag de vídeo.
        </video>
    </div>

    <br/>

    <div class="portfolio-container-description">
        <p>Aplicación web elaborada para la empresaria Alicia Manzano Quezada, persona física con actividad empresarial dedicada a la venta e instalación de televisión satelital de paga.</p>
        <p>La aplicación cuenta con los siguientes modulos</p>
        <ul>
            <li>Administración del personal</li>
            <li>Gestión de inventario del almacén</li>
            <li>Control de inventario de los técnicos</li>
            <li>Registro de los clientes</li>
            <li>Registro de las ventas realizadas</li>
            <li>Reporte de productividad de vendedores</li>
            <li>Reporte de productividad de técnicos</li>
            <li>Geolocalización de técnicos</li>
        </ul>
    </div>

    <h5>Aplicación desarrollada con:</h5>

    <div class="portfolio-container-tools">
        <fa-icon [icon]="faHtml5" class="tool-item"></fa-icon>
        <fa-icon [icon]="faCss3Alt" class="tool-item"></fa-icon>
        <fa-icon [icon]="faBootstrap" class="tool-item"></fa-icon>
        <fa-icon [icon]="faFontAwesome" class="tool-item"></fa-icon>
        <fa-icon [icon]="faJs" class="tool-item"></fa-icon>
        <fa-icon [icon]="faPhp" class="tool-item"></fa-icon>
    </div>
</div>
